---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <div class="page">
    <img src="/assets/newlogo.png" alt="New Logo" class="main-image" />
  </div>
</BaseLayout>

<style>
  .main-image {
    height: 2.4rem;
    width: auto;
    max-width: none;
    margin: 0;
    display: block;
  }
</style>
